.main_grading_scheme {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  background-color: white;
  max-width: 90vw;
  border-radius: 8px;
  margin: 0 auto;
}
.btn {
  display: flex;
  justify-content: center;
}
.btn button {
  background-color: #15abff;
  color: white;
}

h1 {
  color: #15abff;  
  font-size: 24px;  
  font-weight: bold;
}

.Grading_table th,
.Grading_table td {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: center;
}

.Grading_table thead {
  background-color: #f0f0f0;
}

.Grading_table tbody tr:hover {
  background-color: #f9f9f9;
}
