/* General container styles */
.page-container {
  width: 100%;
  height: 100vh;
  background: #f7f7f7;
}

/* Styling for the table container */
.p-4 {
  padding: 1rem;
  height: 70vh;
  overflow-y: auto;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.custom-table {
  width: 100%;
  overflow-x: auto;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: white;
}

.custom-table th {
  padding: 8px;
  text-align: center;
  border: none;
  border-bottom: 2px solid #ddd;
  border-right: 1px solid #ddd;
  background-color: white;
  font-weight: bold;
  font-size: 16px;
  color: #333;
}

.custom-table td {
  padding: 10px;
  text-align: center;
  border: none;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

.custom-table td:last-child,
.custom-table th:last-child {
  border-right: none;
}

.custom-table tbody tr {
  background-color: white;
}

.custom-table tbody tr:hover {
  background-color: #f9f9f9;
}

.custom-table tbody tr:last-child td {
  border-bottom: none;
}

@media (max-width: 768px) {
  .custom-table th,
  .custom-table td {
    font-size: 14px;
    padding: 8px;
  }
}

@media (max-width: 480px) {
  .custom-table th,
  .custom-table td {
    font-size: 12px;
    padding: 5px;
  }
}

/* Styling for the table and its elements */
.table-auto {
  width: 100%;
  border-collapse: collapse;
  margin: 1rem 0;
}

th,
td {
  text-align: left;
  border: 1px solid #d1d1d1;
  padding: 0.75rem;
  font-size: 0.875rem;
}

/* Header style */
th {
  background-color: #f1f1f1;
  color: #333;
  font-weight: 600;
}

/* Remove alternating row colors */
tbody tr {
  background-color: #fff; /* Set all rows to white */
}

/* Text alignment and styling */
.text-center {
  text-align: center;
}

.text-xl {
  font-size: 1.25rem;
}

.font-bold {
  font-weight: 700;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

/* Hover effect for table rows */
tbody tr:hover {
  background-color: #eaeaea;
  cursor: pointer;
}

/* Add new styles for the heading */
.heading {
  color: #15abff;
  font-size: 24px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  td,
  th {
    padding: 0.5rem;
    font-size: 0.75rem;
  }

  .text-xl {
    font-size: 1rem;
  }
}
